<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MICRODAW S.A.</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

  <header>
    <div th:replace="fragments/header::header">
      <h1>MICRODAW S.A.</h1>
    </div>
  </header>

  <div class="main-container">
    <nav>
      <div th:replace="fragments/menu :: menu">

        <h3>Menú sin fragmento</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>

      </div>
    </nav>

    <main>
      <!-- En content le esto pasando el fragmento de contenido a cargar-->
      <div th:replace="${content} :: content">
        <h2>¡Hola mundo!</h2>
        <p>Este contenido será sustitutido por los fragmentos</p>
      </div>
    </main>
  </div>

  <footer>
    <div th:replace="fragments/footer :: footer">
      <p>&copy; 2026 MICRODAW S.A. - Todos los derechos reservados, sin el fragmento</p>
    </div>
  </footer>

</body>

</html>